<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>

	input.one{
		border-color: black;
		width: 300px;
		height: 20px;
		margin-left: 20px;
	}
	
    label.a{
		color: lightblue;
		font-size: 25px;
		float: left;
		display: block;
		width: 100px;

	}
	::placeholder {
  color: darkgreen;
  font-size: 15px;
  font-style: italic;
  

   /* Firefox */
}
	
</style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
	<h1 style="text-align: center ; background-color: lightblue"><i>Form validation<i></h1>

     <form name="myform">
	  <label class="a"><i><b>Firstname:<b><i></label>
	  <input class="one" type="text" name="fname" ng-model="firstname" ng-minlength="3" ng-maxlength="15" placeholder="firstname" required autofocus  ng-pattern="/^[a-z A-Z]+$/">
	  <span ng-show="myform.fname.$error.minlength" style="color: red">Name too short!</span>
	  <span ng-show="myform.fname.$error.maxlength" style="color: red">Name Too long!</span>
	  <span ng-show="myform.fname.$error.pattern" style="color: red">Invalid name!</span>
	  <br><br>

	  <lable style="color: lightblue; font-size: 25px; float: left; display: block; width: 100px"><i><b>Lastname:</b></i></lable>
	  <input class="one" type="text" name="lname" ng-model="lastname" ng-minlength="3" ng-maxlength="15" placeholder="lastname" required ng-pattern="/^[a-z A-Z]+$/">
	  <span ng-show="myform.lname.$error.minlength" style="color: red">Name too short!</span>
	  <span ng-show="myform.lname.$error.maxlength" style="color: red">Name too long! </span>
	  <span ng-show="myform.lname.$error.pattern" style="color: red">Invalid Name!</span>
	  <br><br>

      <label class="a"><i><b>Mobile:</b></i></label>
	  <input class="one" type="text" name="phone" ng-model="pnumber" placeholder="Mobile:" ng-inlength="10" ng-maxlength="10" ng-pattern="/^[0-9]+$/" required>
      <span ng-show="myform.phone.$error.maxlength || myform.phone.$error.pattern || myform.phone.$error.minlength" style="color: red">Invalid Number!</span>
	  <br><br>

	  <label class="a"><i><b>Email:</b></i></label>
	  <input class="one" type="text" name="mail" ng-model="email" required placeholder="Email:" 
	  ng-pattern="/^([a-z A-Z 0-9\.-]+)@([a-z0-9-]).([a-z]{2,8})(.[a-z]{2,8})?$/">
	  <span ng-show="myform.mail.$error.pattern" style="color: red">Invalid email!</span>

	  <br><br> 

      <label class="a"><i><b>Gender:</b></i></label>
	  <select style="margin-left: 20px; color: darkblue" ng-model="selected" required>
      	<option value="1">male</option>
      	<option value="2">female</option>
      	<option value="3">other</option>
      	<option ></option>
      </select>

      
	  <br><br>
      
      <button id="submit" style="background-color: darkgreen; border-width: 2px; margin-left: 100px; color: white; font-size: 15px" ng-click="f1()"
      ng-disabled="myform.fname.$error.minlength || myform.fname.$error.maxlength || myform.lname.$error.minlength || myform.lname.$error.maxlength || myform.phone.$error.maxlength || myform.fname.$error.pattern || myform.lname.$error.pattern || myform.phone.$error.pattern || myform.mail.$error.pattern"
      >Submit</button>
     </form>    
</div>
<script >
	var app=angular.module('myApp',[]);
	app.controller('myCtrl', function($scope)
	{
          // $scope.firstname  -> this is how you take the input fields values inside controllers in angularjs
          // myform.fname     -> this is how you take input fields values in div field that is in the head part
          //$scope.arr=[{id:1,value:""}, {id:2,value:"male"},{id:3,value:"female"},{id:4,value:"other"}];
         //  $scope.arr=[''.'male','female','other'];

          //if($scope.selected==1)
          $scope.gender;
          $scope.f1 = function()
          {
             if(!$scope.selected)
             {
             	alert("Select Gender!")
             }
             else
             {
             	//$scope_selected contains the value either  {0,1,2,3} depending on the selected value.
             	//alert("Name:" +" "+ $scope.firstname +" " + $scope.lastname + "\n" + "Gender:" + $scope.selected);
             	if($scope.selected==1)
             	{
             	$scope.gender="male";
             	}
             	else if($scope.gender==2)
             	{
             		$scope.gender="female";
             	}
             	else
             	{
             		$scope.gender="other";
             	}
             	
             }
            // alert({{$scope.firstname | json }})
             alert("Name:" +" "+ $scope.firstname +" " + $scope.lastname + "\n" + "Gender:" + $scope.gender + "\n" + "Mobile No:" +" " + $scope.pnumber +" \n" + "Email:" + " " + $scope.email);
          /*   var userObject = {
             	name : $scope.firstname
             };
             console.log(JSON.stringify(userObject));
          */
      }

	});

	
</script>
</body>
</html>